/* ContactMe.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .contact-container {
    background-color: #ffe6f2; /* Pastel pink background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .contact-form {
    background-color: #ffffff; /* White box for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .title {
    font-size: 24px;
    color: #ff85a2; /* Strawberry pink title */
    text-align: center;
  }
  
  .input-label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #ff85a2; /* Strawberry pink label text */
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ff85a2; /* Strawberry pink border */
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .submit-button {
    background-color: #ff4d72; /* Darker pink for the submit button */
    color: #140707;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #ff577f; /* Lighter pink on hover */
  }
  
  .social-icons {
    margin-top: 20px;
    display: flex;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  