/* Projects.css */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.kawaii-title {
  font-size: 32px;
  color: #ff85a2;
  margin-bottom: 20px;
  text-align: center;
}

.project-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  width: 100%;
}

.project-title {
  font-size: 24px;
  color: #ff85a2;
  margin-bottom: 10px;
}

.project-bio {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.project-link {
  display: block;
  background-color: #ff4d72;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.project-link:hover {
  background-color: #ff577f;
}

/* Media queries for responsive design */

/* Tablet and smaller screens */
@media (max-width: 768px) {
  .project-card {
    max-width: 500px;
  }
}

/* Mobile screens */
@media (max-width: 480px) {
  .project-card {
    max-width: 300px;
    padding: 15px;
  }

  .project-title {
    font-size: 20px;
  }

  .project-bio {
    font-size: 14px;
  }

  .project-link {
    font-size: 14px;
  }
}